process {
    withLabel: bcftools {
      module = 'bcftools/1.9.0'
    }
    withLabel: biokanga {
      module = 'biokanga/4.3.9'
    }
    withLabel: bwa {
      module = 'bwa/0.7.17'
    }
    withLabel: samtools {
      module = 'samtools/1.9.0'
    }
    withLabel: singularity {
      module = 'singularity/2.5.0'
    }
    withLabel: stacks {
      module = 'stacks/2.00b9'
    }
    withLabel: vcftools {
      module = 'vcftools/0.1.16'
    }
}
