process {
  withLabel: download {
    publishDir {
      path = "${params.outdir}/download"
      mode = "link"
    }
  }
  withLabel: out {
    publishDir {
      path = "${params.outdir}/out"
      mode = "${params.publishmode}"
    }
  }
  withLabel: stats {
    publishDir {
      path = "${params.outdir}/stats"
      mode = "${params.publishmode}"
    }
  }
  withLabel: figures {
    publishDir {
      path = "${params.outdir}/figs"
      mode = "${params.publishmode}"
    }
  }
}
